
<div class="row">
  <div class="col-xs-12">
<div class="pins">
{{#masonry-grid items=model itemSelector=".pin" as |item|}}
  <div class="image">
    {{#if item.image}}
      <img src="{{item.image}}" />
    {{else}}
      <i class="fa fa-picture-o"></i>
    {{/if}}
  </div>
  <div class="title">
    {{item.title}}
  </div>
{{/masonry-grid}}
</div>
</div>
</div>
